{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Lakers - Add Address
{% endblock title %}

{% block content %}

<body>

    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div>
            <div class="text-center mb-4">
                <h2 class="section-title px-5"><span class="px-2">Shipping Address</span></h2>
            </div>
            <br>
            <div>
                <form method="post">
                    {% csrf_token %}
                    <div class="row px-xl-8">
                        <div class="col-lg-8 table-responsive mb-5">
                            <table class="table table-bordered text-center mb-0">
                                <thead class="bg-secondary text-dark">
                                    <tr>
                                        <th>Address</th>
                                        <th>Postal Code</th>
                                        <th>Fullname</th>
                                        <th>Phone</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">
                                    {% for address in request.user.addresses.all %}
                                    <tr>
                                        <td class="align-middle">{{ address.address_provience }}, {{ address.address_city }}, {{ address.address_street }}</td>
                                        <td class="align-middle">{{ address.postal_code }}</td>
                                        <td class="align-middle">{{ address.fullname }}</td>
                                        <td class="align-middle">{{ address.phone }}</td>
                                        <td class="align-middle"><a href="{% url 'account:delete-address' address.id %}" class="btn btn-sm btn-primary"><i class="fa fa-times"></i></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4">
                            <h4 class="font-weight-semi-bold mb-4">Address</h4>
                            <div>
                                <div class="col-md-6 form-group">
                                    <label>Provience</label>
                                    {{ form.address_provience|attr:"class:form-control" }}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>City</label>
                                    {{ form.address_city|attr:"class:form-control" }}
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Street</label>
                                    {{ form.address_street|attr:"class:form-control" }}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Postal Code</label>
                                    {{ form.postal_code|attr:"class:form-control" }}
                                </div>
                            </div>
                            <br>
                            <h4 class="font-weight-semi-bold mb-4">Reciever</h4>
                            <div>
                                <div class="col-md-6 form-group">
                                    <label>Full Name</label>
                                    {{ form.fullname|attr:"class:form-control" }}
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Recivers Phone</label>
                                    {{ form.phone|attr:"class:form-control" }}
                                </div>
                            </div>
                            <br>
                            <div>
                                <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Save new address</button>
                                <button class="btn btn-primary py-2 px-4" type="reset" id="sendMessageButton" href="/">Cancel</button>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

{% endblock content %}