{% extends 'base.html' %}
{% load static %}

{% block title %}
Lakers - Order Detail
{% endblock title %}

{% block content %}

<body>

    
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Pay</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Pay</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Cart Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <!-- Order table Start -->
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Image</th>
                            <th>Products</th>
                            <th>Quantity</th>
                            <th>Size</th>
                            <th>Color</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for item in order.items.all %}
                        <tr>
                            {% for image in item.product.images.all %}
                                {% if forloop.first %}
                                    <td class="align-middle"><img src="/media/{{ image.image }}" alt="" style="width: 50px;"></td>
                                {% endif %}
                            {% endfor %}
                            <td class="align-middle">{{ item.product.title }}</td>
                            <td class="align-middle">{{ item.quantity }}</td>
                            <td class="align-middle">{{ item.size }}</td>
                            <td class="align-middle">{{ item.color }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Order table End -->
                <br>
            </div>
            <div class="col-lg-4">
                <!-- Discount Start -->
                <form class="mb-5" method="post" action="{% url 'order:apply-discount' order.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="discount_code" class="form-control p-4" placeholder="Discount Code">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Apply Discount Code</button>
                        </div>
                    </div>
                </form>
                <!-- Discount End -->
                <!-- Pay Start -->
                <form method="post">
                    {% csrf_token %}
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold">{{ order.total_price }}</h5>
                            </div>
                        </div>
                        {% if request.user.addresses.all %}
                        <a href="درگاه-پرداخت" class="btn btn-block btn-success my-3 py-3">Pay</a>
                        {% endif %}
                    </div>
                </form>
                <!-- Pay End -->
                <!-- Choose Address Start -->
                <form method="post">
                    {% csrf_token %}
                    <div class="dropdown">
                        <label> Choose an address: </label>
                        {% if request.user.addresses.all %}
                            <div class="row px-xl-5">
                                <select class="form-select bg-secondary" style="width:250px" aria-label="Default select example">
                                    {% for address in request.user.addresses.all %}
                                        <option class="dropdown-item" value="{{ address }}">{{ address }}</a>
                                    {% endfor %}
                                </select>
                            </div>
                            <br>
                            <div class="row px-xl-5">
                                <a href="{% url 'account:add-address' %}?next={% url 'order:order-detail' order.id %}" class="btn btn-primary">Add another address</a>
                                {% else %}
                                <a href="{% url 'account:add-address' %}?next={% url 'order:order-detail' order.id %}" class="btn btn-primary">You don't have any address, Add one</a>
                            </div>
                        {% endif %}
                    </div>
                </form>
                <!-- Choose Address End -->
            </div>
        </div>
    </div>
    <!-- Cart End -->


</body>

{% endblock content %}