{% extends 'base.html' %}
{% load static %}

{% block title %}
Lakers - check-otp
{% endblock title %}

{% block content %}

<body>

    <!-- Contact Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">کد تایید</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div>
                    To Register/Login Enter this code: " {{ randcode }} "
                    <br>
                    In an enterprise project, use an otp api, and you will recieve this code as SMS.
                    <br>
                </div>
                <div class="contact-form">
                    <div id="success"></div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            {{ form.code }}
                            {% for error in form.phone.errors %}
                                <p class="alert alert-danger"> {{ error }} </p>
                            {% endfor %}
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
</body>

{% endblock content %}