{% load static %}

<!-- Header -->
<div class="container-fluid">
    <div class="row bg-secondary py-0 px-xl-5">
        <!-- Links -->
        <nav class="navbar navbar-expand-lg bg-secondary navbar-light py-lg-6">
            <a href="/" class="text-decoration-none d-block d-lg-none">
                <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary">Lakers </span>Shop</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto py-0">
                    <a class="nav-item nav-link" href="/">Home</a>
                    <a class="nav-link dropdown-toggle" id="dropdown-a" data-toggle="dropdown" style="color:rgb(44, 44, 44)">Categories</a> 
                        <div class="dropdown-menu" aria-labelledby="dropdown-a">
                            {% for category in category_list %}
                                <a class="dropdown-item" href="{% url 'product:product-list' %}?search={{category.title}}">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    <a class="nav-item nav-link" href="{% url 'order:cart-detail' %}">Shopping Cart</a>
                    <a class="nav-item nav-link" href="">Contact</a>
                    <a class="nav-item nav-link" href="">FAQ</a>
                </div>
            </div>
        </nav>

        <!-- Profile -->
        <a class="col-lg-5 px-0 text-right">
            <div class="d-inline-flex align-items-center">
                {% if user.is_authenticated %}
                    {% if user.fullname == None %}
                    <a class="nav-link dropdown-toggle" id="dropdown-a" data-toggle="dropdown">{{ user.phone }}</a>
                    {% elif user.fullname %}
                    <a class="nav-link dropdown-toggle" id="dropdown-a" data-toggle="dropdown">{{ user.fullname }}</a>
                    {% endif %}
                    <div class="dropdown-menu" aria-labelledby="dropdown-a">
                        <a class="dropdown-item" href="{% url 'account:profile' user.id %}">Your Profile</a>
                        <a class="dropdown-item" href="{% url 'order:cart-detail' %}">Shopping Cart</a>
                        <a class="dropdown-item" href="{% url 'account:logout' %}">Exit</a>
                    </div>
                {% else %}
                <div class="row bg-secondary col-lg-6 px-xl-5">
                    <a class="text-center" href="{% url 'account:user-register' %}">Login</a>
                </div>
                {% endif %}
            </div>
        </a>

    </div>
    <div><br></div>
</div>
