{% extends 'base.html' %}
{% load static %}

{% block title %}
Lakers - Like List
{% endblock title %}

{% block content %}

<body>

    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Like List</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Like List</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Like Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <!-- Like table -->
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Images</th>
                            <th>Products</th>
                            <th>Price</th>
                            <th>View</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for item in like_list %}
                        <tr>
                            {% for image in item.product.images.all %}
                                {% if forloop.first %}
                                    <td class="align-middle"><img src="/media/{{ image.image }}" alt="" style="width: 50px;"></td>
                                {% endif %}
                            {% endfor %}
                            <td class="align-middle"><a href="{{ item.product.get_absolute_url }}" class="text-dark">{{ item.product.title }}</a></td>
                            {% if item.product.discount_price %}
                                <td class="align-middle"><del>{{ item.product.price }} $</del><br>{{ item.product.discount_price }} $</td>
                            {% else %}
                                <td class="align-middle">{{ item.product.price }} $</td>
                            {% endif %}
                            <td class="align-middle">
                                <a class="btn btn-primary px-3"  href="{{ item.product.get_absolute_url }}">
                                <i class="fas fa-eye text-dark mr-1"></i>View</a></td>
                            <td class="align-middle">
                                <i onclick="like('{{ item.product.slug }}', '{{ item.product.id }}')" class="btn border">
                                <i id="like" class="fa fa-heart text-primary"></i></i></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Like End -->

</body>

{% endblock content %}